<% provide(:title,"about us") %>



<% if !logged_in? %> 
  <div class = "all_staff col-md-8 col-md-offset-2">
       <div class = "col-md-12">

  <p><strong> Senior Staff </strong></p>
  <% @users_senior.each do |user| %>
      <div class = "each_item container col-md-4">
     <div class = "card_pic card_pic2 col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text">
       <div class = "card_name">
        <%= link_to user.name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
     </div>
    <% end %>
      </div>
  
    <div class = "col-md-12">

  <p><strong> Students </strong></p>
  <% @users_students.each do |user| %>
      <div class = "each_item container col-md-4">
     <div class = "card_pic card_pic2 col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text">
       <div class = "card_name">
        <%= link_to user.name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
     </div>
    <% end %>
      </div>


    <div class = "col-md-12">

  <p><strong> Past Members </strong></p>
  <% @users_members.each do |user| %>
       <div class = "each_item container col-md-4">
     <div class = "card_pic card_pic2 col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text">
       <div class = "card_name">
        <%= link_to user.name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
     </div>
    <% end %>
      </div>

    
        <div class = "col-md-12">

    
  <p><strong> Coop Students </strong></p>
  <% @users_coop.each do |user| %>
       <div class = "each_item container col-md-4">
     <div class = "card_pic card_pic2 col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text">
       <div class = "card_name">
        <%= link_to user.name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
     </div>
    <% end %>
      </div>
  
    
      <%= link_to "Log in", login_path %>

<% else %>
  <ul class="users">
    <%= link_to current_user.name, current_user, :class => "btn btn-danger col-md-12" %>
    <div class = "user_list">
    <% @users.each do |user| %>
      <div class = "user_thumb">
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
      </div>    
    <% end %>
    </div>
  </ul>

<% end %>

</div>