<% provide(:title,"about us") %>
<% if !logged_in? %> 
<div class = "container-fluid">

<div class = "container side-nav col-md-2">
  <div class = "side-nav-list">
        <p><%= link_to "Principle Investigator", :anchor => "Principle" %></p>
        <p><%= link_to "Senior Staff", :anchor => "Senior" %></p>
        <p><%= link_to "Students", :anchor => "Students" %></p>
        <p><%= link_to "Coop Students", :anchor => "Coop" %></p>
        <p><%= link_to "Past Members", :anchor => "Past" %></p>

  </div>
        <%= link_to "Log in", login_path, :class => "btn btn-success" %>

</div>


  <div class = "all_staff container col-md-9 col-sm-9 col-xs-12 col-md-offset-2 col-sm-offset-2">

 <div class = "col-md-12 container">
 <div class = "anchor_blank col-md-12" id = "Principle"></div>

  <p><strong> Principle Investigator </strong></p>
  <% @users_principle.each do |user| %>
     <div class = "each_item container col-md-5 col-sm-5 col-xs-12">
     <div class = "card_pic5 col-md-5 col-sm-6 col-xs-6">
      <br>
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-6 col-xs-6">
       <div class = "card_name">
              <br>

        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
    </div>
      <div class = "card_text container col-md-7 col-sm-7 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    <% end %>
      </div>
     
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank" id = "Senior"></div>
  <p><strong> Senior Staff </strong></p>
  <% @users_senior.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= image_tag(user.image.url()) %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <!-- <button type="button" class="btn btn-custom btn-align" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button> -->
                
          <button id="myModal-<%= user.id %>" class="myBtn btn btn-custom btn-align">View More</button>                  
           <!-- The Modal -->
           <div id="myModal-<%= user.id %>-content" class="modal">
           
             <!-- Modal content -->
             <div class="modal-content">
               <span class="close">&times;</span>
               <div class = "non-float user_articles container">
                  <div class = "col-md-2 bio_image">
                    <%= link_to image_tag(user.image.url()), user.image.url %>
                  </div>
                  <h3 class = "bio-name col-md-9 col-xs-12"><strong><%= user.name %>
                  <%= user.last_name %></strong>
                  </h3>
                  <span>
                      <span class="bio-bio col-md-9 col-xs-12"> <%= user.title %> </span>
                      <span class="bio-bio col-md-9 col-xs-12"> <%= user.email %></span>
                     <span class="bio-bio col-md-9 col-xs-12"> <%= user.tel %></span>
                  </span>
                  <span class = "bio-bio container col-md-9"><%= user.bio %></span>
                </div>
                <div>
                  <div class = "user_articles container col-md-10">
                    <h4><strong>Related Research</strong></h4>
                    <div class = "articles-list container">
                        <% user.articles.each do |project| %>
                          <div class = "user_articles_list col-md-3">
                            <div class = "user_articles_thumb">
                              <%= link_to image_tag(project.image.url()), project%>
                            </div>
                              <%= link_to project.title, project, {:class=>"thumb-title col-xs-12 col-md-12"} %>
                              <span><%= truncate(project.description, :length => 200) %></span>
                              <%= link_to "View more", project%>
                          </div>
                        <% end %>
                    </div>
                  </div>
                  <div class = "user_articles container">
                   <h4><strong>Related Articles</strong></h4>
                   <% user.publications.each do |publication| %>
                     <h4><strong><%= link_to publication.title, publication %></strong></h4>
                     <span class="project-description"><%= publication.descryption%></span>
                   <% end %>
                 </div>
                </div>
               <!-- detail -->
                 
             </div>
           
           </div>
           
      </div>
    </div>
    
    <% end %>
      </div>
  
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank" id = "Students"></div>
  <p><strong> Students </strong></p>
  <% @users_students.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <!-- <button type="button" class="btn btn-custom btn-align" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>  -->
           <button id="myModal-<%= user.id %>" class="myBtn btn btn-custom btn-align">View More</button>                  

      </div>
      
    </div>
           <!-- The Modal -->
           <div id="myModal-<%= user.id %>-content" class="modal">
           
             <!-- Modal content -->
             <div class="modal-content">
               <span class="close">&times;</span>
               <div class = "non-float user_articles container">
                  <div class = "col-md-2 bio_image">
                    <%= link_to image_tag(user.image.url()), user.image.url %>
                  </div>
                  <h3 class = "bio-name"><strong><%= user.name %>
                  <%= user.last_name %></strong></h3>
                  <span class = "bio-bio container col-md-9"><%= user.bio %></span>
                </div>
                <div>
                  <div class = "user_articles container col-md-10">
                    <h4><strong>Related Research</strong></h4>
                    <% user.articles.each do |project| %>
                      <div class = "user_articles_list">
                        <div class = "user_articles_thumb">
                          <%= link_to image_tag(project.image.url()), project%>
                        </div>
                          <%= link_to project.title, project, {:class=>"thumb-title col-xs-12 col-md-12"} %>
                          <span><%= truncate(project.description, :length => 200) %></span>
                          <%= link_to "View more", project%>
                      </div>
                    <% end %>
                  </div>
                  <div class = "user_articles container">
                   <h4><strong>Related Articles</strong></h4>
                   <% user.publications.each do |publication| %>
                     <h4><strong><%= link_to publication.title, publication %></strong></h4>
                     <span class="project-description"><%= publication.descryption%></span>
                   <% end %>
                 </div>
                </div>
               <!-- detail -->
                 
             </div>
           
           </div>

    <% end %>
      </div>
      
  <div class = "staff-collection container col-md-12">
   <div class = "anchor_blank" id = "Coop"></div>
  <p><strong> Coop Students </strong></p>
  <% @users_coop.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <!-- <button type="button" class="btn btn-custom btn-align" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>  -->
           <button id="myModal-<%= user.id %>" class="myBtn btn btn-custom btn-align">View More</button>                  

      </div>
      
    </div>
           <!-- The Modal -->
           <div id="myModal-<%= user.id %>-content" class="modal">
           
             <!-- Modal content -->
             <div class="modal-content">
               <span class="close">&times;</span>
               <div class = "non-float user_articles container">
                  <div class = "col-md-2 bio_image">
                    <%= link_to image_tag(user.image.url()), user.image.url %>
                  </div>
                  <h3 class = "bio-name"><strong><%= user.name %>
                  <%= user.last_name %></strong></h3>
                  <span class = "bio-bio container col-md-9"><%= user.bio %></span>
                </div>
                <div>
                  <div class = "user_articles container col-md-10">
                    <h4><strong>Related Research</strong></h4>
                    <% user.articles.each do |project| %>
                      <div class = "user_articles_list">
                        <div class = "user_articles_thumb">
                          <%= link_to image_tag(project.image.url()), project%>
                        </div>
                          <%= link_to project.title, project, {:class=>"thumb-title col-xs-12 col-md-12"} %>
                          <span><%= truncate(project.description, :length => 200) %></span>
                          <%= link_to "View more", project%>
                      </div>
                    <% end %>
                  </div>
                  <div class = "user_articles container">
                   <h4><strong>Related Articles</strong></h4>
                   <% user.publications.each do |publication| %>
                     <h4><strong><%= link_to publication.title, publication %></strong></h4>
                     <span class="project-description"><%= publication.descryption%></span>
                   <% end %>
                 </div>
                </div>
               <!-- detail -->
                 
             </div>
           
           </div>

    <% end %>
      </div>
      
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank" id = "Past"></div>
  <p><strong> Past Members </strong></p>
  <button type="button" class="btn btn-custom" data-toggle="collapse" data-target="#demo">View More</button>
  <br>
  <div id="demo" class="collapse">
  <% @users_members.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <!-- <button type="button" class="btn btn-custom btn-align" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>  -->
           <button id="myModal-<%= user.id %>" class="myBtn btn btn-custom btn-align">View More</button>                  

      </div>
      
    </div>
           <!-- The Modal -->
           <div id="myModal-<%= user.id %>-content" class="modal">
           
             <!-- Modal content -->
             <div class="modal-content">
               <span class="close">&times;</span>
               <div class = "non-float user_articles container">
                  <div class = "col-md-2 bio_image">
                    <%= link_to image_tag(user.image.url()), user.image.url %>
                  </div>
                  <h3 class = "bio-name"><strong><%= user.name %>
                  <%= user.last_name %></strong></h3>
                  <span class = "bio-bio container col-md-9"><%= user.bio %></span>
                </div>
                <div>
                  <div class = "user_articles container col-md-10">
                    <h4><strong>Related Research</strong></h4>
                    <div class = "container">
                        <% user.articles.each do |project| %>
                          <div class = "user_articles_list col-md-4">
                            <div class = "user_articles_thumb">
                              <%= link_to image_tag(project.image.url()), project%>
                            </div>
                              <%= link_to project.title, project, {:class=>"thumb-title col-xs-12 col-md-12"} %>
                              <span><%= truncate(project.description, :length => 200) %></span>
                              <%= link_to "View more", project%>
                          </div>
                        <% end %>
                    </div>
                  </div>
                  <div class = "user_articles container">
                   <h4><strong>Related Articles</strong></h4>
                   <% user.publications.each do |publication| %>
                     <h4><strong><%= link_to publication.title, publication %></strong></h4>
                     <span class="project-description"><%= publication.descryption%></span>
                   <% end %>
                 </div>
                </div>
               <!-- detail -->
                 
             </div>
           
           </div>

    <% end %>
      </div>


  <div class = "staff-collection container col-md-12">
     <p><strong> Group Photo </strong></p>
  </div>

   <div class = "cut-padding col-md-5 col-sm-12 col-xs-12">
     <div class= "slideshow">
      <% @news_team.each do |news| %>
       <div class = "mySlides2" id = "slide-<%= news.title.gsub(/\s+/, "") %>" onclick ="carousel(this.id)" style = "cursor:pointer">
        <%= news.title %>
       </div>
      <% end %>
     </div>
   </div>
   
     <div class = "team-news container col-md-6 col-sm-12 col-xs-12">
     <div class= "slideshow col-md-6 col-sm-6 col-xs-12">
      <% @news_team.each do |news| %>
       <div class = "mySlides" id = "slide-<%= news.title.gsub(/\s+/, "") %>-image">
        <%= link_to image_tag(news.image.url()), news%>
        
       </div>
      <% end %>
     </div>
   </div>
  
    

<% else %>
  <%= link_to 'New Research', new_project_path, :class => "btn btn-success" %>
  <%= link_to 'New Publication', new_publication_path, :class => "btn btn-success" %>
  <%= link_to 'New Research Partner', new_research_partner_path, :class => "btn btn-success"%>
  <%= link_to 'New Facilities', new_facility_path, :class => "btn btn-success" %>
  <%= link_to 'New News', new_news_path, :class => "btn btn-success" %>
  <%= link_to "Log out", logout_path, method: "delete", :class => "btn btn-danger" %>

  <ul class="users">
    <div class = "user_list">
    <% @users.each do |user| %>
      <div class = "card_pic_y col-md-1">
        <div class = "card_pic card_pic_x col-md-12">
          <%= link_to image_tag(user.image.url()), user %>
        </div>
        <div class = "col-md-12">
          <%= link_to user.name, user %>
          <%= link_to user.last_name, user %>
          <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-default"%>
        </div>
      </div>    
    <% end %>
    </div>
  </ul>

<% end %>

</div>

  </div>

</div>
<br>


<script>

$( document ).ready(function() {
 var x = document.getElementsByClassName("mySlides");
 var y = document.getElementsByClassName("mySlides2");
 if (x.length != 0){
     for (i = 0; i < x.length; i++) {
         x[i].style.opacity = 0;
         y[i].style.fontWeight = "normal";
         y[i].style.borderLeft = "none";
         y[i].style.color = "black";
     }
     x[0].style.opacity = 1;
     y[0].style.fontWeight = "bold";
     y[0].style.borderLeft = "solid";
     y[0].style.color = "#3384d3";
 }    
 
});

function carousel(a) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("mySlides2");
    var z = document.getElementById(a);
    var m = a + "-image";
    var n = document.getElementById(m);
    if (x.length != 0){
     for (i = 0; i < x.length; i++) {
         x[i].style.opacity = 0;
         y[i].style.fontWeight = "normal";
         y[i].style.borderLeft = "none";
         y[i].style.color = "black";
     }
     n.style.opacity = 1;
     z.style.fontWeight = "bold";
     z.style.borderLeft = "solid";
     z.style.color = "#3384d3";
     }
}

// Get the modal
// Get the button that opens the modal

$(document).ready(function() {
        var x;
        var y;
        $('.myBtn').click(function() {
            x = this.id + "-content"
            z = $('#' + x)
            y = z;
            y.css("display", "block");
        });
        
        $('.close').click(function() {
            y.css("display", "none");
        });
        
        $(window).click(function(event) {
            console.log(event.target.id);
            if (event.target.id == x){
             y.css("display", "none");
            }
        });
        

    });

// Get the <span> element that closes the modal

// When the user clicks the button, open the modal 

// When the user clicks on <span> (x), close the modal


// When the user clicks anywhere outside of the modal, close it

</script>



