<% provide(:title,"about us") %>
<% if !logged_in? %> 
<div class = "container-fluid">

<div class = "container side-nav col-md-2">
  <div class = "side-nav-list">
        <p><%= link_to "Principle Investigator", :anchor => "Principle" %></p>
        <p><%= link_to "Senior Staff", :anchor => "Senior" %></p>
        <p><%= link_to "Students", :anchor => "Students" %></p>
        <p><%= link_to "Coop Students", :anchor => "Coop" %></p>
        <p><%= link_to "Past Members", :anchor => "Past" %></p>

  </div>
        <%= link_to "Log in", login_path, :class => "btn btn-success" %>

</div>


  <div class = "all_staff container col-md-9 col-sm-9 col-xs-12 col-md-offset-2 col-sm-offset-2">
   <div class = "container">
   <div class = "cut-padding col-md-5 col-sm-12 col-xs-12">
     <div class= "slideshow">
      <% @news_team.each do |news| %>
       <div class = "mySlides2" id = "slide-<%= news.title.gsub(/\s+/, "") %>" onclick ="carousel(this.id)" style = "cursor:pointer">
        <%= news.title %>
       </div>
      <% end %>
     </div>
   </div>
   
     <div class = "team-news container col-md-6 col-sm-12 col-xs-12">
     <div class= "slideshow col-md-6 col-sm-6 col-xs-12">
      <% @news_team.each do |news| %>
       <div class = "mySlides" id = "slide-<%= news.title.gsub(/\s+/, "") %>-image">
        <%= link_to image_tag(news.image.url()), news%>
       </div>
      <% end %>
     </div>
   </div>
 </div>
 <div class = "col-md-12 container">
 <div class = "anchor_blank" id = "Principle"></div>

  <p><strong> Principle Investigator </strong></p>
  <% @users_principle.each do |user| %>
     <div class = "each_item container col-md-5 col-sm-5 col-xs-12">
     <div class = "card_pic5 col-md-5 col-sm-6 col-xs-6">
      <br>
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text  col-md-7 col-sm-6 col-xs-6">
       <div class = "card_name">
              <br>

        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      </div>
    </div>
      <div class = "card_text container col-md-7 col-sm-7 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    <% end %>
      </div>
     
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank container" id = "Senior"></div>
  <p><strong> Senior Staff </strong></p>
  <% @users_senior.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-lg-4 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <button type="button" class="btn btn-custom" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>
      </div>
    </div>
    <div id="user-<%= user.id %>" class="collapse">
      <div class = "card_text col-md-12 col-sm-12 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    </div>
    <% end %>
      </div>
  
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank" id = "Students"></div>
  <p><strong> Students </strong></p>
  <% @users_students.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <button type="button" class="btn btn-custom" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>
      </div>
    </div>
    <div id="user-<%= user.id %>" class="collapse">
      <div class = "card_text col-md-12 col-sm-12 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    </div>
    <% end %>
      </div>
      
  <div class = "staff-collection container col-md-12">
   <div class = "anchor_blank" id = "Coop"></div>
  <p><strong> Coop Students </strong></p>
  <% @users_coop.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <button type="button" class="btn btn-custom" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>
      </div>
    </div>
    <div id="user-<%= user.id %>" class="collapse">
      <div class = "card_text col-md-12 col-sm-12 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    </div>
    <% end %>
      </div>
      
  <div class = "staff-collection container col-md-12">
  <div class = "anchor_blank" id = "Past"></div>
  <p><strong> Past Members </strong></p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">View More</button>
  <div id="demo" class="collapse">
  <% @users_members.each do |user| %>
     <div class = "each_item container col-md-4 col-sm-6 col-xs-6">
     <div class = "card_pic2 col-md-5 col-sm-4 col-xs-12">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text col-md-7 col-sm-8 col-xs-12">
       <div class = "card_name">
        <%= user.name %><br>
        <%= user.last_name %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
        <div class = "card_title">
         <span><%= user.email %></span>
       </div>
       <div class = "card_title">
         <span><%= user.tel %></span>
       </div>
      <button type="button" class="btn btn-custom" data-toggle="collapse" data-target="#user-<%= user.id %>">View More <span>&rarr;</span></button>
      </div>
    </div>
    <div id="user-<%= user.id %>" class="collapse">
      <div class = "card_text col-md-12 col-sm-12 col-xs-12">
       <div class  = "card_title card_bio">
          <span><%= user.bio %></span>
       </div>
     </div>
    </div>
    <% end %>
      </div>


  
    

<% else %>
  <%= link_to 'New Research', new_project_path, :class => "btn btn-success" %>
  <%= link_to 'New Publication', new_publication_path, :class => "btn btn-success" %>
  <%= link_to 'New Research Partner', new_research_partner_path, :class => "btn btn-success"%>
  <%= link_to 'New Facilities', new_publication_path, :class => "btn btn-success" %>
  <%= link_to "Log out", logout_path, method: "delete", :class => "btn btn-danger" %>

  <ul class="users">
    <div class = "user_list">
    <% @users.each do |user| %>
      <div class = "card_pic_y col-md-1">
        <div class = "card_pic card_pic_x col-md-12">
          <%= link_to image_tag(user.image.url()), user %>
        </div>
        <div class = "col-md-12">
          <%= link_to user.name, user %>
          <%= link_to user.last_name, user %>
          <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-default"%>
        </div>
      </div>    
    <% end %>
    </div>
  </ul>

<% end %>

</div>

</div>
</div>
<script>

$( document ).ready(function() {
 var x = document.getElementsByClassName("mySlides");
 var y = document.getElementsByClassName("mySlides2");
 if (x.length != 0){
     for (i = 0; i < x.length; i++) {
         x[i].style.opacity = 0;
         y[i].style.fontWeight = "normal";
         y[i].style.borderLeft = "none";
         y[i].style.color = "black";
     }
     x[0].style.opacity = 1;
     y[0].style.fontWeight = "bold";
     y[0].style.borderLeft = "solid";
     y[0].style.color = "#3384d3";
 }    
 
});

function carousel(a) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("mySlides2");
    var z = document.getElementById(a);
    var m = a + "-image";
    var n = document.getElementById(m);
    if (x.length != 0){
     for (i = 0; i < x.length; i++) {
         x[i].style.opacity = 0;
         y[i].style.fontWeight = "normal";
         y[i].style.borderLeft = "none";
         y[i].style.color = "black";
     }
     n.style.opacity = 1;
     z.style.fontWeight = "bold";
     z.style.borderLeft = "solid";
     z.style.color = "#3384d3";
     }
}

</script>

