<% provide(:title,"Home") %>

<div class = "mainblock  col-md-10 col-md-offset-1">
  <div class = "welcome_cover">
   <%= image_tag("177343.jpg")%>
   <div class="brand-right">
      <%= image_tag("SFU_StdBlock-Horz_Pos_RGB.jpg", alt: "SFU_Logo", id:"logo2")%>
    </div>
   <div class="welcome_text">
     <span>Welcome To Laboratory for Alternative Energy Conversion</span>
   </div>
  </div>
  
<div class = "aboutus_brief container col-md-2">

 <div class = "namecard">
   <div class = "card_pic">
    <%= image_tag("majid bahrami 010.jpg")%>
   </div>
   <div class = "card_text ">
    <div class = "card_name">
     <p>Majid Bahrami, PhD, P.Eng.</p>
    </div>
    <div class = "card_title">
      <p>Principle Investigator, Professor</p>
      <div class = "box-top">
      <span>Canada Research Chair in Alternative Energy Conversion Systems</span>
      <br>
      <span>Member: AIAA, ASME Fellow, SAE, ASHRAE</span></p>
      <br>

      <p><span>Faculty of Applied Science</span><br>
      <span>School of Mechatronic Systems Engineering</span><br>
      <span>Simon Fraser University</span><br>
      <span>250-13450 102 Avenue</span><br>
      <span>Surrey, BC, V3T 0A3, Canada </span></p>
      <br>
      <p><span>Office: Galleria 4, Room 4164</span>
      <br>
      <span>Laboratory: Galleria 4, Room 4280</span>
      <br>
      <span>Tel.: +1 (778) 782-8538</span>
      <br>
      <span>Fax: +1 (778) 782-7514</span>
      <br>
      <span>e-mail: mbahrami@sfu.ca</span></p>
    </div>
    </div>
    </div>
    <!--
    <% @users.each do |user| %>
      <div class = "container col-md-12">
      <div class = "card_pic card_pic2 container col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text container col-md-8">
       <div class = "card_name">
        <%= link_to user.name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
      </div>
     </div>

    <% end %>
    -->
    <div class =  "btn btn-custom btn-custom2 btn-custom3">
     <%= link_to("View More", "/about") %>
     <span>&rarr;</span>
    </div>
   </div>
</div>
 <div class = "col-md-8">
  <!---first--->
  <div class = "research_brief container col-md-12", id = "research">
   <div class = "topic">
    <p>Research</p>
   </div>
   <div class = "introduction container col-xs-12 col-md-12 col-lg-12">
    <p>The LAEC seeks to understand and solve fundamental problems at multiscale levels to improve energy conversion efficiency.</p>
    <div class = "thumbs_set">
     <% @projects.each do |project| %>
        <div class = "item_brief container col-md-4">
          <div class = "item_thumb">
            <%= link_to image_tag(project.image.url()), project%>
          </div>
          <%= link_to project.title, project, {:class=>"item_title col-md-12"}%>
        </div>
    <% end %>
   </div>
  </div>
  <div class =  "btn btn-custom">
    <%= link_to("View More", projects_path) %>
    <span>&rarr;</span>
  </div>
 </div>

  <!------Second----->
  <div class = "service_brief containe col-md-12">
   <div class = "topic", id = "service">
    <span>Service</span>
   </div>
   <div class = "col-md-1 col-lg-12"></div>
   <div class = "introduction container col-xs-12 col-md-10 col-lg-12">
    <p>The LAEC provides analysis, testing, and material characterization services in the general area of energy systems.</p>
    <div class = "thumbs_set">
     <% @facilities.each do |facility| %>
        <div class = "item_brief container col-md-4">
          <div class = "item_thumb">
            <%= link_to image_tag(facility.image.url()), facility%>
          </div>
          <%= link_to facility.title, facility, {:class=>"item_title col-md-12"}%>
        </div>
    <% end %>


   </div>
       
  </div>
   <div class =  "btn btn-custom">
     <%= link_to("View More", facilities_path) %>
     <span>&rarr;</span>
   </div>
  </div>

<!------Third----->

</div>
<div class = "tweet container col-md-2">
<a class="twitter-timeline" data-height="1000"  href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a>  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>

