<ul>

          <div class = "participate_list">
          <% @users = @users - @publication.users%>
          <% @users.each do |user| %>
              <div class = "item">
              <div class = "card_pic card_pic2 col-md-4">
                <%= link_to image_tag(user.image.url()), user.image.url %>
               </div>                
                <%= link_to user.name, user %>
                <% if user.participate?(@publication) %>
                <% else %>
                  <%= render partial: "publications/add", locals: { user: user, publication: @publication} %> 
                <% end %> 
              </div>
          <% end %>
        </div>
        
        
        <div class = "participate_list">
          <% @publication.users.each do |user| %>
              <div class = "item">
              <div class = "card_pic card_pic2 col-md-4">
                <%= link_to image_tag(user.image.url()), user.image.url %>
               </div>                
                <%= link_to user.name, user %>
                <% if user.author?(@publication) %>
                  <%= render partial: "publications/quit", locals: { user: user, publication: @publication} %> 
                <% end %> 
              </div>
          <% end %>
        </div>
          
          
          

</ul>