<% provide(:title, 'All Publications') %>

<div class = "side-nav col-md-2">
  <p style = "font-size:2em; "><strong>Quick Index</strong></p>
  <% @pub_year.each do |array| %>
    <div class = "side-nav-list">
      <%= link_to array, publications_path(:anchor => "publication-#{array}") %>
    </div>
  <% end %>

</div>

<div class = "term_detail col-md-8 col-md-offset-2">
  <div class = "detail-page-title">Publications</div>

  <div class = "pub_list">
  <% @pub_year.each do |array| %> 
    <div class = "pub_year container col-md-12">
      <div class = "anchor_blank" id="publication-<%=array%>"></div>
        <p><strong><%= array %></strong></p>
        <button id = "#pub_year-<%=array%>" type="button" class="btn btn-custom5" data-toggle="collapse" onclick="switchtext(id)" data-target="#pub_year-<%=array%>"><%= array == @large_element ? "Collapse ↑" : "Expand ↓" %></button>
          <div class="publications col-md-12">
            <div id="pub_year-<%=array%>" class="col-md-12 <%= array == @large_element ? 'collapse in' : 'collapse' %>">
            <% @publications.each do |publication| %>
              <% if publication.time == array %>
                <div class = "publication_brief">
                  <% if publication.file.url %>
                    <p><%= link_to publication.title, publication.file.url%></p>
                  <% else %>
                    <p><%= publication.title %></p>
                  <% end %>
                  <%= truncate(publication.descryption, :length => 250) %>
                </div>
              <% end %>  
            <% end %>
           </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<script>
  function switchtext(a) {
    x = document.getElementById(a);
    if (x.innerHTML == "Expand ↓"){
      x.innerHTML = ("Collapse ↑");
    }
    else {
     x.innerHTML = ("Expand ↓");
    }
  }

</script>