<% provide(:title, 'All users') %>
<h1>All Members</h1>



<% if !logged_in? %> 
  <p><strong> Senior Staff </strong></p>
  <% @users_senior.each do |user| %>
     <div class = "container col-md-12">
      <div class = "card_pic card_pic2 container col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text container col-md-8">
       <div class = "card_name">
        <%= link_to user.name, user %>
        <%= link_to user.last_name, user %>
       </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
      </div>
     </div>
    <% end %>
    
  <p><strong> Students </strong></p>
  <% @users_students.each do |user| %>
      <div class = "container col-md-12">
     <div class = "card_pic card_pic2 container col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text container col-md-8">
       <div class = "card_name">
        <%= link_to user.name, user %>
        <%= link_to user.last_name, user %>
        </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
      </div>
     </div>
    <% end %>
    
  <p><strong> Past Members </strong></p>
  <% @users_members.each do |user| %>
      <div class = "container col-md-12">
      <div class = "card_pic card_pic2 container col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text container col-md-8">
       <div class = "card_name">
        <%= link_to user.name, user %>
        <%= link_to user.last_name, user %>
        </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
      </div>
     </div>    
    <% end %>
    
  <p><strong> Coop Students </strong></p>
  <% @users_coop.each do |user| %>
      <div class = "container col-md-12">
      <div class = "card_pic card_pic2 container col-md-4">
        <%= link_to image_tag(user.image.url()), user.image.url %>
       </div>
      <div class = "card_text container col-md-8">
       <div class = "card_name">
        <%= link_to user.name, user %>
        <%= link_to user.last_name, user %>
        </div>
       <div class = "card_title">
         <span><%= user.title %></span>
       </div>
      </div>
     </div>    
    <% end %>
      <%= link_to "Log in", login_path %>

<% else %>
  <%= link_to 'New Research', new_project_path, :class => "btn btn-success" %>
  <%= link_to 'New Publication', new_publication_path, :class => "btn btn-success" %>
  <%= link_to 'New Research Partner', new_research_partner_path, :class => "btn btn-success"%>
  <%= link_to 'New Facilities', new_publication_path, :class => "btn btn-success" %>

  <ul class="users">
    <%= link_to current_user.name, current_user, :class => "btn btn-danger col-md-12" %>
    <div class = "user_list">
    <% @users.each do |user| %>
      <div class = "card_pic_y col-md-1">
        <div class = "card_pic card_pic_x col-md-12">
          <%= link_to image_tag(user.image.url()), user %>
        </div>
        <div class = "col-md-12">
          <%= link_to user.name, user %>
          <%= link_to user.last_name, user %>
          <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-default"%>
        </div>
      </div>    
    <% end %>
    </div>
  </ul>

<% end %>
