<p id="notice"><%= notice %></p>
<script>
  function switchtext(a) {
    x = document.getElementById(a);
    if (x.innerHTML == "Expand"){
      x.innerHTML = ("Collapse");
    }
    else {
     x.innerHTML = ("Expand");
    }
  }

</script>

<div class = "information col-md-10 col-md-offset-1">
  
    <!--- --->

    <p><strong>News</strong></p>
    <% @cate_array.each do |array| %>
      <div class = "block">
          <p><strong><%= array %></strong></p>
          <button id = "#news-<%=array%>" type="button" class="btn btn-custom5" data-toggle="collapse" onclick="switchtext(id)" data-target="#news-<%=array%>"><%= array == @large_element ? "Collapse" : "Expand" %></button>
            <div id="news-<%=array%>" class="news_index col-md-12 <%= array == @large_element ? 'collapse in' : 'collapse' %>">
              <% @news.each do |news| %>
                <% if news.year == array %>
                  <div class = "news_list_brief container" id="news-<%= news.id %>">
                    <div class = "col-md-2">
                      <%= link_to image_tag(news.image.url()), news%>
                    </div>
                    <strong><%= link_to news.title, news, {:class=>"news-title col-xs-12 col-md-10"}%></strong>
                    <%= truncate(news.description, :length => 250) %>
                    <%= link_to "View more", news%>
                  </div>
                <% end %>
              <% end %>
            </div>
            </div>
      <% end %>
          <!--- --->


  <br>

  <% if logged_in? %>
    <%= link_to 'New News', new_news_path, :class => "btn btn-success" %>
  <% end %>
</div>

