<div class = "col-md-8 col-md-offset-2 project-detail">
  
  <span class="title col-md-12"><%= @news.title%></span>

  <span class="user col-md-12">
     Time: <%= @news.month %>, <%= @news.year %>.</span>

  <div class = "project-image">
    <%= link_to image_tag(@news.image.url()), @news.image.url %>
  </div>

  <span class="col-md-8 col-md-offset-2" style = "margin-top:1em;"><%= @news.description%></span>

  

</div>

<% if logged_in? %>
  <%= link_to 'Edit', edit_news_path(@news) %> |
  <%= link_to 'Back', news_index_path %>
<% end %>