<% provide(:title, 'All projects') %>
<div class = "term_detail">
  <div class = "topic">Research</div>
  <div class = "detail_intro">LAEC seeks to understand and solve fundamental problems at multiscale levels to improve energy conversion efficiency in devices such as compact heat exchangers, fuel cells, batteries, and refrigeration systems. The following highlights some of the current research projects in our group.</div>
    <button><%= link_to "Create New", newproject_path %></button>

  <div class="projects">
    <% @projects.each do |project| %>
        <div class = "project_brief">
          <div class = "project_thumb">
            <%= link_to image_tag(project.image.url()), project%>
          </div>
          <%= link_to project.title, project, {:class=>"thumb-title col-xs-12 col-md-12"}%>
          <%= truncate(project.description, :length => 250) %>
          <%= link_to "View more", project%>
        </div>
    <% end %>
  </div>
  </div>
