<div class = "container-fluid project-detail" id="project-<%= @project.id %>">
  
  <span class="title col-md-12"><%= @project.title%></span>
  <div class="col-md-1"></div>

  <span class="user col-md-10">
    <%= link_to @project.user.name, @project.user %>
     Posted <%= time_ago_in_words(@project.created_at) %> ago.</span>
  
  <div class = "project-image">
    <%= link_to image_tag(@project.image.url()), @project.image.url %>
  </div>
  <span class="project-description col-md-12"><%= @project.description  %></span>
  <span class="user col-md-10 topic">Related Publication: <%= @project.publication %>.</span>
  <% @project.galleries.each do |pic| %>
    <%= link_to image_tag(pic.image.url()), pic.image.url %>
  <% end %>
      <ul class = "users-list">
        <div class = "users-icon">
          <% @users.each do |user| %>
              <div class = "users-selection">
                <%= gravatar_for user, size: 50 %>
                <%= link_to user.name, user %>
                
              </div>
          <% end %>
          
        </div>
      </ul>

</div>