  <tbody>
    <div class = "info-partner col-md-10 col-md-offset-1">
            <p class = "detail-page-title"><strong>Research Partners</strong></p>
    <% if current_user %>
      <%= link_to 'New Research Partner', new_research_partner_path, :class => "btn btn-success"%>
    <% end %>
      <div class = "partner-list container">
        <% @research_partners.each do |research_partner| %>
          <div class = "col-md-3 col-sm-3 col-xs-12  research_partner_list">
            <div class = "block-p">
              <div class = "col-md-12 col-sm-12 col-xs-12 card_pic3 card_pic4">
                <td><%= link_to image_tag(research_partner.image.url()), research_partner.description%></td>
              </div>
              <div class = "col-md-12 col-sm-12 col-xs-12">
                <td><%= research_partner.title %></td>
              </div>
              <% if logged_in? %>
                <td><%= link_to 'Edit', edit_research_partner_path(research_partner) %></td>
                <td><%= link_to 'Destroy', research_partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </tbody>
