<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <title>Laboratory for Alternative Energy Conversion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-fluid">
      <header class="navbar navbar-fixed-top navbar-default nav-down">
        <%= link_to image_tag("LOGO_blue_text.png", alt: "Logo", id:"logo5"),
                root_path %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="collapse navbar-collapse">
              <div class="brand col-md-2 col-md-offset-1">
              <%= link_to image_tag("LOGO_blue_text.png", alt: "Logo", id:"logo"),
                root_path %>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li  data-toggle="collapse" data-target=".navbar-collapse.in" class="<%= 'active' if current_page?('/home') || current_page?(root_path) %>"><%= link_to "Home", root_path%></li>
                <li class="dropdown">
                  <a class="dropdown-toggle <%= 'active' if current_page?('/research') %>" data-toggle="dropdown" href="#">Research
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><%= link_to "Research", "/research"%></li>
                    <li><%= link_to "Publication", "/publication"%></li>
                  </ul>
                </li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in" class="<%= 'active' if current_page?('/facilities') %>"><%= link_to "Facilities", facilities_path%></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in" class="<%= 'active' if current_page?('/teaching') %>"><%= link_to "Teaching", '/teaching'%></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in" class="<%= 'active' if current_page?('/about') %>"><%= link_to "About", '/about'%></li>
              </ul>
              

          </div>

    </header>
  </div>

<div class="container-fluid">
<div id="blank"></div>

    <div class="container col-md-12">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
